.product-form {
  display: flex;
  flex-direction: column;
}

.product-form__radio-group {
  display: flex;
  flex-flow: row wrap;
  margin: 2.63rem 0;
}

.product-form__radio {
  position: absolute;
  height: 1px;
  width: 1px;
  border: 0;
}

.product-form__radio + label {
  background: #efefef;
  color: black;
  font-size: 1.4rem;
  line-height: 1;
  text-align: center;
  padding: 1.2rem;
  margin: 0 0.5rem 0 0;
  border: 0.1rem solid rgba(118, 118, 118);
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.product-form__radio + label:hover {
  cursor: pointer;
  border: 1px solid #a0a0a0;
  background: #a0a0a0;
}

.product-form__radio:checked + label {
  color: #efefef;
  font-weight: bold;
  background: #d32d45;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.product-form__radio:focus + label {
  outline: -webkit-focus-ring-color auto 1px;
}

.product-form__submit {
  padding: 1rem;
}

.product-form__submit:hover {
  cursor: pointer;
}
