#nav-slider {
  position: fixed;
  top: 0;
  right: -100vw;
  height: 100%;
  width: 100vw;
  z-index: 1;
  transition: right 0.35s linear;
  background: #f9f9f9;
}

#nav-slider.open {
  right: 0;
}

.portal-container,
.slider {
  height: 100%;
}

@media screen and (min-width: 1020px) {
  #nav-slider {
    width: 45vw;
  }
}
