.product {
  flex: 0 1 100%;
  margin: 0;
  text-align: center;
}

.product__image-wrapper {
  position: relative;
  display: inline-block;
  margin: 0;
}

.product__image-wrapper .svg-icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  transform: rotateY(180deg);
}

.product__image-wrapper .svg-icon--sale {
  stroke: limegreen;
  stroke-width: 0.75px;
}

.product__discount-tag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.25rem;
  font-size: 1.8rem;
  color: #fff;
  background: #333;
}

.product__image {
  max-width: 100%;
}

.product__details {
  font-size: 1.4rem;
}

.product__name {
  font-size: 1.5rem;
}

.product__pricing {
  color: inherit;
}

.product__pricing--green {
  font-weight: bold;
  color: limegreen;
}

.product__detail--regular {
  text-decoration: line-through;
  color: #a7a7a7;
}

.product__detail--relational {
  color: limegreen;
}

@media screen and (min-width: 500px) {
  .product {
    flex: 0 1 48%;
    margin: 0 1%;
  }
}

@media screen and (min-width: 812px) {
  .product {
    flex: 0 1 31.3333%;
  }
}

@media screen and (min-width: 1020px) {
  .product {
    flex: 0 1 23%;
  }
}
