.search-result {
  margin: 1rem 0;
}

.search-result__content {
  display: flex;
  margin: 0;
}

.search-result .image-wrapper {
  flex-basis: 25%;
}

.search-result__image {
  max-width: 100%;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.search-result__details {
  flex-basis: 70%;
  margin-left: 5%;
}

.search-result__title {
  font-size: 1.4rem;
  font-weight: 400;
}

.search-result__price {
  font-size: 1.3rem;
  font-weight: 400;
}

.search-result__installments {
  font-size: 1.2rem;
  font-weight: 400;
  color: #a7a7a7;
}

@media screen and (min-width: 411px) {
  .search-result__title {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .search-result__price {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
