/* -----
SVG Icons - svgicons.sparkk.fr
----- */

/* .svg-icon {
  width: 1em;
  height: 1em;
} */

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #3f3f3f;
}

.svg-icon circle {
  stroke: #3f3f3f;
  stroke-width: 1;
}

.svg-icon--search {
  transform: rotateY(180deg);
}
