*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background: #f9f9f9;
  font-family: 'Noto Sans SC', sans-serif;
}

a,
a:active,
a:focus,
a:hover {
  color: #212529;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 1.6rem;
}

@media screen and (min-width: 1279px) {
  .container {
    width: 1279px;
  }
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-wrapper {
  box-sizing: content-box;
  width: 2rem;
  height: 2rem;
  padding: 1.75rem 1rem;
  margin-left: 0.35rem;
}

/* .svg-icon {
  width: 1em;
  height: 1em;
} */

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #3f3f3f;
}

.svg-icon circle {
  stroke: #3f3f3f;
  stroke-width: 1;
}

.svg-icon.search {
  transform: rotateY(180deg);
}

@media screen and (min-width: 411px) {
  .svg-wrapper {
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 812px) {
  .svg-wrapper {
    width: 3rem;
    height: 3rem;
    padding: 1.25rem;
    margin-left: 1.5rem;
  }
}
