*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background: #f9f9f9;
  font-family: 'Noto Sans SC', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a,
a:active,
a:focus,
a:hover {
  color: #212529;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 1.6rem;
}

@media screen and (min-width: 1279px) {
  .container {
    width: 1279px;
  }
}
