.bag-panel {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.bag-panel__nav {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.bag-panel__button {
  box-sizing: content-box;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1.5rem;
  cursor: pointer;
  background: transparent;
  border: transparent;
  border-radius: 50%;
}

.bag-panel__title {
  flex-grow: 2;
  text-align: center;
  font-size: 1.6rem;
  line-height: 4.6rem;
}

.bag-panel__items {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 60rem;
  margin-top: 2rem;
  padding: 0.5rem;
  list-style: none;
}

.bag-panel__no-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a7a7a7;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.bag-panel__bag-emoji {
  font-size: 40px;
}

.bag-panel__item {
  display: flex;
  justify-content: center;
}

.bag-panel__subtotal-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
}

.bag-panel__subtotal {
  flex: 1;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}
