.header {
  width: 100%;
  background: #fff;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 16rem;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.header__button {
  margin: 0.35rem;
  padding: 1rem;
  cursor: pointer;
  background: transparent;
  border: transparent;
  border-radius: 50%;
}

.header__button:hover {
  background: #efefef;
}

@media screen and (min-width: 411px) {
  .header .container {
    padding: 1.25rem 1.6rem;
  }

  .header__logo {
    width: 18rem;
  }

  .header__button {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 24rem;
  }
}

@media screen and (min-width: 812px) {
  .header__logo {
    width: 28rem;
  }

  .header__button {
    padding: 1.25rem;
  }
}
