.product-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2rem 0;
}

.product-page__image {
  flex: 0 1 50%;
  max-width: 100%;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.product-page__details-wrapper {
  flex: 0 1 75%;
}

.product-page__details {
  padding: 0 1rem;
  font-size: 1.6rem;
}

.product-page__pricing {
  color: inherit;
}

.product-page__pricing--green {
  font-weight: bold;
  color: limegreen;
}

.product-page__detail--regular {
  text-decoration: line-through;
  color: #a7a7a7;
}

.product-page__detail--relational {
  color: limegreen;
}

@media screen and (min-width: 790px) {
  .product-page {
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .product-page__image,
  .product-page__details-wrapper {
    flex: 0 1 40%;
  }
}

@media screen and (min-width: 1366px) {
  .product-page__image,
  .product-page__details-wrapper {
    flex: 0 1 40%;
  }
}
